
    {% extends 'base.html' %}

    {% block title %}
        Dashboard
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% endblock %}

    {% block content %}

        <div class="main">

            <h1>Predição de Crimes em Diadema</h1>

            <p>Sistema de análise criminal baseado em dados históricos.</p>

            <div class="search">
                <input type="text" placeholder="Pesquisar bairro...">
                <button>Buscar</button>
            </div>

            <div class="cards">

                <div class="crime-card">
                    <span>Total de Crimes</span>
                    <h2>7.541</h2>
                </div>

                <div class="crime-card">
                    <span>Bairro Mais Perigoso</span>
                    <h2>Centro</h2>
                </div>

                <div class="crime-card">
                    <span>Taxa Criminal</span>
                    <h2>1.869</h2>
                </div>

                <div class="crime-card">
                    <span>Crime Mais Comum</span>
                    <h2>Furto</h2>
                </div>

            </div>

            <div class="crimes">
                <div class="crime">Tráfico</div>
                <div class="crime">Furto</div>
                <div class="crime">Assalto</div>
                <div class="crime">Feminicídio</div>
                <div class="crime">Latrocínio</div>
            </div>

            <div class="grafico">
                <h2>Crimes por Categoria</h2>
                <canvas id="graficoCategorias"></canvas>
            </div>

            <div class="grafico">
                <h2>Horários Mais Perigosos</h2>
                <canvas id="graficoHorarios"></canvas>
            </div>

            <div class="grafico">
                <h2>Predição dos Próximos Meses</h2>
                <canvas id="graficoPrevisao"></canvas>
            </div>

        </div>        

       {% endblock %}

        {% block scripts %}
            <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Seus Scripts -->
        <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
        {% endblock %}